<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="mycobot_280">
    <!-- The Gazebo plugin for ros2_control -->
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find mycobot_gazebo)/config/mycobot_280_controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>
