<?xml version="1.0"?>

<model>
  <name>cheezit_big_original</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Francisco Vina</name>
    <email>fevb@kth.se</email>
  </author>

  <description>
    A model of a Cheezeit box
  </description>

  <depend>
  </depend>
</model>
