<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="mycobot_280_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="link1_to_link2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link1_to_link2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link2_to_link3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link2_to_link3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link3_to_link4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link3_to_link4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link4_to_link5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link4_to_link5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link5_to_link6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link5_to_link6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link6_to_link6flange">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link6_to_link6flange']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="gripper_controller">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['gripper_controller']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
